.file-upload-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .uploaded-files-container {
    margin-top: 20px;
  }
  
  .file-item {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  input[type="file"] {
    margin-bottom: 10px;
  }
  
  .save-button {
  
  background-color: grey; 
  color: #ffffff; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: gray; 
}
.save-button-wrapper{
  position: absolute;
  bottom:  15%;
  right: 0.5%;
  z-index: 1000;
}
  
.styled-input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}