.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff; /* White background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for navbar */
    padding: 10px 20px; /* Adjust padding as needed */
    z-index: 5000; /* Ensure it's above other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-left: 20px; /* Adjust spacing between nav items */
    cursor: pointer;
    transition: color 0.3s ease; /* Smooth color transition on hover */
  }
  
  .nav-item:hover {
    color: #007bff; /* Blue color on hover */
  }
  